@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  min-height: 100vh;
  background-color: black;

}

.app {
  display: flex;
}

#logo {

  margin-top: 9px;
  margin-left: 5px;
  width: 80px;
  height: 80px;
  filter: drop-shadow(0px 0px 0px rgb(255, 0, 0));
  transition: 0.3s;
  z-index: 2;

}



.navbar {
  background-color: black;

  position: sticky;
  top: 0;
  align-items: center;
  z-index: 2;
  width: 100%;
  padding-left: 15%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  border: 0px rgb(231, 0, 0) solid;
  position: fixed;
  color: white;

  letter-spacing: 0px;
  transition: 0.35s;

  /*box-shadow: 0px 0px 20px rgb(18, 18, 18); */
  box-shadow: 0px 0px 10px black;


}


.navbarLinks p {
  font-size: 1em;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  transition: 0.12s;
  letter-spacing: 2px;
  text-align: left;
  padding: 10px;
  color: gray;



}

.navbar p:hover {
  color: red;
  cursor: pointer;
  border-radius: 0px;
  border-bottom: 1px red solid;
  box-shadow: 0px 0px 0px red;
}

.navbar p:active {
  scale: 1.02;
  cursor: pointer;
  border-bottom: 1px red solid;
}


.inputfields {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  z-index: 4;
  gap: 5px;
  border-radius: 10px;
  padding-bottom: 0px;
  height: 150px;
  justify-content: center;
  width: 200px;
  position: fixed;
  top: 15%;
  right: 18%;
  border: 1px black solid;
  padding: 20px;
  background-color: black;




}


input[type="text"] {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 5px;
  height: 30px;
  border: 1px gray solid;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

input[type="password"] {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 5px;
  height: 30px;
  border: 1px gray solid;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.socialMedia {
  display: flex;
  gap: 10px;
  flex-shrink: 0;

  filter: grayscale(1);
  position: fixed;
  z-index: 2;
  top: 6%;
  left: 70%;
  transition: 0.3s;
}

.socialMedia:hover {
  filter: none;
}

#facebook:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgb(13, 0, 255));

}

#facebook:active {
  scale: 1.1;
}

#yt:active {
  scale: 1.1;
}

#instagram:active {
  scale: 1.1;
}

#spotify:active {
  scale: 1.1;
}



#instagram:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgb(255, 0, 174));
}



#spotify:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgb(0, 255, 81));
}



#yt:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgb(255, 0, 0));
}

#sodeh {
  border-radius: 30px;
}

#sodeh:hover {

  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgb(105, 105, 105));
}

.SOCIALMEDIA {
  z-index: 2;
  height: 35px;
  width: 35px;

  transition: 0.12s;
}

.SOCIALMEDIA2 {
  z-index: 2;
  height: 45px;
  width: 45px;

  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  transition: 0.12s;
}

#dropdownSocialIcons {
  display: flex;
  gap: 10px;
}



.inputfields button {
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  transition: 0.05s;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.inputfields button:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);

}

.inputfields button:active {
  scale: 1.02;
}

#background {
  background-image: url("./assets/pyhältä.jpg");
  background-position: top;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  z-index: 0;
  height: 85vh;
  border: 0px red solid;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

}



#h1 {
  font-size: 1vw;
  width: 20%;


  padding: 20px;
  margin-top: 20px;
  border: 1px solid gray;
  font-family: sans-serif;
  color: gray;
  font-style: italic;
  text-align: left;








}



.navbarLinks {

  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;


}



h1 {
  font-family: 'Sans', monospace;
  font-weight: bold;

}

#a {
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 5px;

}


::-webkit-scrollbar-track {
  background: #2c2c2c;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 61);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#contentmain {
  width: 100%;

  height: 100vh;
  background-color: #181818;
  display: flex;



}



.contentmain h1 {


  font-family: "Poppins";
  font-weight: 400;
  color: white;
}

.contentmainDetails {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  color: white;
  position: absolute;
  bottom: -550px;
  width: 82%;


}





#frontpageeext2 {
  height: 100vh;
  text-align: center;
  background-color: black;
  color: white;
  border: 0px solid rgb(255, 0, 43);
  display: flex;
  justify-content: space-between;


}

.frontpageeext2 h1 {
  font-family: sans-serif;
  font-style: italic;
  font-size: 5em;





}

.gigH1s {
  border: 0px white solid;
  text-align: left;
  background-image: url("./assets/anyversekeikka.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  padding-top: 7%;

}

.gigH1box {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 30px;
  width: 65%;
  height: 80vh;
  border-radius: 10px;
  overflow-y: scroll;
}

hr {
  width: 100%;
}

#adminIcon {
  cursor: pointer;
  border-radius: 30px;
}

#adminIcon:hover {
  filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
}


.mitämissäkoskaparagraph h1 {
  color: white;
  font-family: sans-serif;
  text-align: left;
  font-size: 3rem;
  position: static;

}

#tulevatkeikath1 {
  font-family: 'Loved by the King', cursive;
  position: absolute;
  bottom: -35%;
  left: 5%;
  font-size: 3em;
  letter-spacing: 3px;
  background-color: black;
  padding: 5px 40px 5px 40px;
}


.mitämissäkoskaparagraph {
  display: flex;
  align-items: center;

}

.anyversekeikkakuva {
  position: absolute;
  right: 0;
  background-image: url("./assets/anyversekeikka.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 100%;
  width: 30%;
  filter: grayscale(1);
  border-radius: 15px;

}


.anyversekeikkakuva p {
  font-family: sans-serif;
  padding: 10px;
  color: gray;
  opacity: 0.7;
}

.mitämissäkoskaparagraph p {
  font-size: 1.7em;
  margin-left: 0px;
  font-family: sans-serif;
  font-weight: bold;
  border-bottom: 0px solid rgb(255, 255, 255);
  text-align: center;
  border-bottom: 1px solid rgb(155, 155, 155);


}

.mitämissäkoskaparagraph {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.gigH1IMAGE {
  border: 0px white solid;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/anyversecorolla.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  color: black;

}

.videoSection {
  position: absolute;
  bottom: -195%;
  left: 0;
  margin-left: 10%;
  height: 75vh;
  width: 30%;
  text-align: center;
  border: 0px red solid;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  background-color: #111111;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow-y: scroll;

  background-image: url("./assets/ajankohtaista.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;

}

#ajankohtaistafeedbox {
  border: 0px solid white;
  color: rgb(255, 253, 253);
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
  border-radius: 20px;
  background-color: black;
  opacity: 1;
  margin-bottom: 2%;


}

#ajankohtaistafeedbox p {
  text-align: left;
  padding: 2%;
}

#ajankohtaistafeedboxparagraph {
  padding: 2%;
  text-align: left;
  font-family: sans-serif;
}

#ajankohtaistafeedbox h1 {
  opacity: 1;
  font-size: 1.5em;
  padding: 2%;
  text-align: left;
  font-weight: bold;
  font-family: sans-serif;
}

#verifiedDiv {
  display: flex;
  align-items: center;
  border: 0px solid white;
}

#verifiedDiv p {
  color: gray;
  position: relative;
  top: 2px;
}

#verifiedBadge {
  height: 3%;
  width: 3%;
  position: relative;
  right: 7px;
}

#adminBadge {
  height: 5%;
  width: 5%;
  position: relative;
  right: 10px;

}

#verifiedP {
  position: relative;
  right: 15px;
}

#ajankohtaistaOtsikko {
  font-weight: bold;
  font-family: sans-serif;
}

#gigs {
  border: 0px white solid;
  color: white;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 20px;

  margin: 2% 10% 3% 10%;
  position: sticky;
}

#stopglitch {
  color: rgb(145, 145, 145);
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: sans-serif;
  font-size: 14px;
}

#stopglitch:hover {
  cursor: pointer;

}

#stopglitch:active {
  cursor: pointer;
  color: white;
  scale: 1.02;
}



/*
.overlay {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.welcome {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.video {
  width: 100%;
  height: 100vh;
}
*/

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: opacity(20%);
}

.adminbtn button {
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
  transition: 0.1s;
  background-color: black;
  color: white;
  border: 0px;
  font-family: sans-serif;
  font-weight: 400;
  width: 170px;

  text-align: center;

}

.adminbtn button:hover {
  scale: 1.0;
  border: 1px solid gray;
}


.anyverseinfo {
  height: 90vh;
  width: 100%;
  background-color: black;
}

#notFound {
  text-align: center;
  color: white;
}

.adminLegacy {
  color: white;
  display: flex;
  align-items: center;

  height: 100vh;
  width: 100%;





}

.adminNavBar {
  border: 0px solid white;
  width: 15%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 50px;
  border-right: 0px gray solid;
  box-shadow: 0px 0px 10px rgb(225, 0, 255);



}

#logo1 {
  width: 200px;
  filter: drop-shadow(0px 0px 10px purple);
}

.adminPanelLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;


}

.adminPanelLogo button {
  width: 100%;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  background: linear-gradient(to bottom right, #ca0467, #4f40db);
  border-radius: 20px;
  font-family: "Poppins";
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 10px #ca0467, 0 0 10px #4f40db;
  border: 1px solid rgb(128, 2, 145);
  transition: 0.12s;
  cursor: pointer;

}

.adminPanelLogo button:hover {
  scale: 1.02;
}

.adminPanelLogo button:active {
  scale: 1.05;
}

.adminPanelLogo h1 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;

}

.uusiButton {
  display: flex;
  width: 100%;
  height: 13vh;
  align-items: center;
  border: 0px white solid;
  flex-direction: column;
  margin-top: 10%;
  gap: 15px;




}

.uusiButton button {

  background: linear-gradient(to bottom right, #ca0467, #4f40db);
  height: 7vh;
  width: 90%;
  border-radius: 20px;
  font-family: "Poppins";
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 5px #ca0467, 0 0 10px #4f40db;
  border: 0px;
  transition: 0.12s;
  cursor: pointer;

}

.uusiButton button:hover {

  text-decoration: underline;

}



.newGigForm {
  padding: 30px;
  display: flex;
  width: 30%;

  flex-direction: column;
  justify-content: center;
  gap: 20px;



}

.newGigForm h1 {
  font-size: 4em;
  background: url("./assets/font.jpg") center center / cover;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.newGigForm input[type="text"] {
  height: 8vh;
  padding: 20px;
  font-size: 1.5em;
  border-radius: 30px;
  box-shadow: 0 0 10px #ca0467, 0 0 20px #4f40db;
  border: 0px;

}

.newGigForm input[type="number"] {
  height: 8vh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 5px;
  border: 1px gray solid;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border-radius: 30px;
  box-shadow: 0 0 10px #ca0467, 0 0 20px #4f40db;
  border: 0px;
  font-size: 1.5em;
}

.newGigForm input[type="date"] {
  height: 8vh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 1.5em;
  border: 1px gray solid;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border-radius: 30px;
  box-shadow: 0 0 10px #ca0467, 0 0 20px #4f40db;
  border: 0px;
}

.newGigForm input[type="date"]:focus {
  outline: none;
}

.newGigForm input[type="number"]:focus {
  outline: none;
}

.newGigForm input[type="text"]:focus {
  outline: none;
}

.newGigForm button {
  margin-left: 1%;
  background: linear-gradient(to bottom right, #ca0467, #4f40db);
  height: 8vh;
  width: 100%;
  border-radius: 20px;
  font-family: "Poppins";
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 10px #ca0467, 0 0 10px #4f40db;
  border: 0px;
  transition: 0.12s;
  cursor: pointer;
}

.newGigForm button:hover {
  box-shadow: 0px 0px 10px red;
  scale: 1.01;
}

.newGigForm button:active {
  scale: 1.05;
}

textarea {
  height: 25vh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 5px;
  border: 1px gray solid;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border-radius: 30px;
  box-shadow: 0 0 10px #ca0467, 0 0 20px #4f40db;
  border: 0px;
  font-size: 1.2em;
}

textarea:focus {
  outline: none;
}

#adminSivuH1 {
  position: absolute;
  bottom: 0;
}

#testiAnyverse {
  position: absolute;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#testiAnyverse h1 {
  color: white;
  font-size: 3em;
  background-color: black;
  width: 100%;

  text-align: center;
  letter-spacing: 4px;
  font-family: 'Space Mono', monospace;
}



#spotifyDivBox {
  background-color: black;
  color: white;
  height: 30vh;
  width: 80%;
}

#spotifyPlayer {
  color: white;
  position: fixed;
  bottom: -4%;
  border: 0px red solid;

  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

#SPOTIFYiframe {
  width: 50%;
  position: absolute;
  left: 0;
  padding: 0px 0px 0px 10px;
  margin: 0% 25% 1% 25%;


}

#sodehCredits {
  text-align: right;
}


#touringDetails {
  font-family: sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  font-style: italic;
  border-bottom: 1px gray solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  width: 95%;
  margin-left: 2.5%;
  padding: 10px;
  margin-bottom: 1%;
  padding-top: 15px;
  transition: 0.22s;
}

#touringDetails:hover {
  background-color: #2c2c2c;
}

#touringDetailsPlace {
  font-weight: 100;
  color: gray;
}

.touringDetailsLeftSide {
  border: 0px solid white;
  display: flex;
  flex-direction: column;

}

.touringDetailsRightSide {

  font-size: 0.9em;
  padding: 20px;
  border-radius: 20px;
  width: 20%;
  text-align: center;
}

#lisatietoaLink {
  font-size: 0.7em;
  color: gray;
  font-weight: 100;
  font-style: none;
  cursor: pointer;
}

#linkki {
  font-size: 0.9em;
}

.poistaKeikka {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-self: flex-start;

  width: 50%;
}

.poistaKeikka h1 {
  font-size: 2.5em;
  font-family: sans-serif;
  text-transform: uppercase;
}

.poistaKeikka p {
  padding: 20px 20px 20px 0px;
  font-size: 2em;
  width: 100%;
  border-bottom: 1px gray solid;
  font-family: sans-serif;
  font-style: italic;
}

.poistaKeikkaButtonDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.poistaKeikkaButtonDiv button {
  width: 100px;
  height: 50px;
  color: white;
  background-image: linear-gradient(to bottom, #ff0000, #640101);
  border-radius: 40px;
  border: none;
  box-shadow: 0px 0px 2px red;
  cursor: pointer;
}

.poistaKeikkaButtonDiv button:hover {
  scale: 1.02;
  box-shadow: 0px 0px 10px red;
  ;
}


#dropdownMenu {
  border: 0px white solid;
  z-index: 3;
  color: white;
  position: fixed;
  background-image: url("./assets/hampparimenuicon.png");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 50px;
  height: 50px;

  transition: 0.23s;
}

#dropdownMenu:active {
  scale: 1.1;
  filter: drop-shadow(0px 0px 10px red);
}

.dropdownMenu_valikko {
  position: fixed;
  top: 13%;
  width: 100%;
  height: 90vh;

  z-index: 3;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 2em;
  padding-bottom: 20%;


}


.dropdownMenu_valikko h1 {
  z-index: 4;
  color: white;

  border-bottom: #640101 2px solid;
  width: 100%;
  text-align: center;
  transition: 0.2s;
  font-weight: bold;


}

.dropdownMenu_valikko h1:active {
  z-index: 4;
  scale: 1.04;
  color: rgb(241, 0, 0);
  border-bottom: #640101 1px solid;
  width: 100%;
  text-align: center;

}


#anyverseDropDownMenu {
  width: 40%;
  height: 18vh;
}


#bandMembersFrame {
  width: 100%;

  height: 85vh;
  border: 0px solid white;

  background-image: url("./assets/barracks.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4%;


}

.bandMemberCard {
  width: 30%;
  height: 45%;
  box-shadow: 0px 0px 2px rgb(87, 87, 87);

  display: flex;
  justify-content: space-between;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  transition: 0.2s;
  background-image: url("./assets/tausta.jpg");
  background-position: right;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position-x: 80%;
  object-fit: cover;
  flex: 1;
  flex-wrap: wrap;



}



.bandMemberCard h1 {
  color: white;
  font-size: 1.8vw;
  padding: 10px;

  font-family: sans-serif;



}

.bandMemberCard p {
  color: white;

  font-style: italic;
  padding-bottom: 5px;
  font-family: sans-serif;
  border: 0px solid white;

}

#ramiTammela {
  background-image: url("./assets/rami.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 10px red;
  border: 1px rgb(255, 1, 1) solid;
  border-radius: 5px;

}

#aleksiHalminen {
  background-image: url("./assets/aleksi.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 10px rgb(223, 108, 0);
  border: 1px rgb(223, 108, 0) solid;
  border-radius: 5px;

}

#samiAlatalo {
  background-image: url("./assets/sami.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 10px rgb(255, 1, 213);
  border: 1px rgb(255, 1, 213) solid;
  border-radius: 5px;

}


.testi666 {
  display: flex;
  gap: 20px;
  text-align: center;
  align-items: center;
  height: 100%;
}

#meetTheCrew {
  color: white;
  position: absolute;
  left: 30%;
  width: 40%;
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  margin-top: 5%;
  border: 0px solid white;
  letter-spacing: 2px;
  font-size: 2vw;

}


.testi666 h1 {
  font-size: 2vw;
}

.testi666 p {
  font-size: 1.2vw;
}



.aleksi {
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
}

.rami {
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
}

.sami {
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
}


.centerDivMembers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}























/* RESPONSIIVISUUS ALKAA TÄSTÄ */

@media (min-width: 2560px) {

  /* 4K*/
  .navbarLinks p {
    font-size: 1vw;
    margin-right: 20px;
  }


  #SPOTIFYiframe {
    width: 60%;
    margin: 0% 20% 2% 20%;
    scale: 1.3;
  }

  #touringDetails {
    margin-bottom: 0%;
    padding-top: 20px;
    font-size: 2em;
  }

  #testiAnyverse h1 {
    font-size: 4em;
  }

  .touringDetailsRightSide {
    font-size: 1.3em;
  }

  #h1 {
    font-size: 1.5em;
    margin-left: 80px;
  }

  #logo {
    margin-top: 14px;
    margin-left: 9px;
    width: 120px;
    height: 120px;

    transition: 0.3s;
  }

  #dropdownMenu {
    visibility: hidden;
  }

  #background {
    background-image: url("./assets/testikuva.jpg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;


  }

  .bandMemberCard {
    background-image: url("./assets/tausta.jpg");
    background-position: right;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    object-fit: cover;
  }

  #aleksiHalminen {
    width: 15vw;
    height: 100%;

  }

  #ramiTammela {
    width: 15vw;
    height: 100%;
  }

  #samiAlatalo {
    width: 15vw;
    height: 100%;
  }

}



@media (min-width: 1440px) and (max-width: 2559px) {

  #logo {
    margin-top: 12px;
    margin-left: 7px;
    width: 120px;
    height: 120px;
    filter: drop-shadow(0px 0px 0px rgb(0, 0, 0));
    transition: 0.3s;
  }

  .navbarLinks p {
    font-size: 1vw;
    margin-right: 20px;
  }


  #touringDetails {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px gray solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    width: 95%;
    margin-left: 2.5%;
    padding: 1% 0% 2% 0%;
    margin-bottom: 3%;

    transition: 0.22s;
  }


  #spotifyPlayer {

    transform: scale(1);
  }

  #SPOTIFYiframe {
    width: 33%;
    margin: 0% 33% 2% 33%;
  }

  #dropdownMenu {
    visibility: hidden;
  }

  #background {
    background-image: url("./assets/testikuva.jpg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;


  }

  #aleksiHalminen {
    width: 15vw;
    height: 100%;

  }

  #ramiTammela {
    width: 15vw;
    height: 100%;
  }

  #samiAlatalo {
    width: 15vw;
    height: 100%;
  }

  #h1 {
    margin-left: 4%;
    font-size: 1.2vw;
  }

  #SPOTIFYiframe {
    width: 40%;
    margin: 0% 2% 2% 55%;
    scale: 1.0;
  }

  .newGigForm {
    padding: 30px;
    display: flex;
    width: 30%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .newGigForm h1 {
    font-size: 2vw;
  }

  .bandMemberCard {
    background-image: url("./assets/tausta.jpg");
    background-position: right;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    object-fit: cover;
  }


}


@media (min-width: 1024px) and (max-width: 1439px) {
  #logo {
    margin-top: 12px;
    margin-left: 7px;
    width: 80px;
    height: 80px;

    transition: 0.3s;
  }

  .SOCIALMEDIA {
    z-index: 2;
    height: 25px;
    width: 25px;

    transition: 0.12s;
  }

  #touringDetails {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px gray solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    width: 95%;

    margin-left: 2.5%;
    padding: 1% 0% 2% 0%;
    margin-bottom: 3%;
    transition: 0.22s;
  }

  .gigH1box {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
    width: 90%;
    height: 75vh;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow-y: scroll;
  }

  .socialMedia {
    display: flex;
    gap: 10px;
    flex-shrink: 0;

    filter: grayscale(1);
    position: fixed;
    z-index: 2;
    top: 6%;
    left: 75%;
    transition: 0.3s;
  }

  .touringDetailsRightSide {
    font-size: 0.9em;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    text-align: center;
  }

  #h1 {
    font-size: 1.3em;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: black;
    color: gray;
    background-color: rgba(0, 0, 0, 0.95);
  }


  #SPOTIFYiframe {
    width: 99%;
    margin: 0% 0% 2% 0%;
  }

  #dropdownMenu {
    visibility: hidden;
  }

  .mitämissäkoskaparagraph {
    padding-top: 0px;
  }

  #background {
    background-image: url("./assets/testikuva.jpg");
    background-position: top;
    background-size: cover;
    object-fit: cover;
    width: 100%;

  }

  .bandMemberCard h1 {
    font-size: 2vw;
  }

  .bandMemberCard p {
    font-size: 1.4vw;
  }

  .bandMemberCard {
    height: 20vh;
    background-image: url("./assets/tausta.jpg");
    background-position: right;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    object-fit: cover;
  }

  #aleksiHalminen {
    width: 15vw;
    height: 100%;

  }


  #ramiTammela {
    width: 15vw;
    height: 100%;
  }

  #samiAlatalo {
    width: 15vw;
    height: 100%;
  }

  #meetTheCrew {
    color: white;
    position: absolute;
    left: 20%;
    width: 60%;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
    background-color: black;
    margin-top: 7%;
    border: 0px solid white;
    letter-spacing: 2px;
    font-size: 2.5vw;
  }

  .adminNavBar {
    width: 25%;
  }

  .newGigForm {
    padding: 30px;
    display: flex;
    width: 30%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .newGigForm h1 {
    font-size: 3vw;
  }

  .testi666 h1 {
    margin-right: 10%;
  }

  .testi666 p {
    margin-right: 10%;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {

  .navbar {
    background-color: black;
    top: 0;
    align-items: center;
    z-index: 2;
    width: 100%;

    height: 13vh;
    display: flex;
    flex-direction: row;
    border: 0px rgb(231, 0, 0) solid;
    position: fixed;
    color: white;
    align-items: center;
    letter-spacing: 0px;
    transition: 0.35s;
    padding-left: 0%;
    /*box-shadow: 0px 0px 20px rgb(18, 18, 18); */
    box-shadow: 0px 0px 10px black;
  }

  #logo {
    margin-top: 12px;
    margin-left: 7px;
    width: 100px;
    height: 100px;

    transition: 0.3s;
    visibility: hidden;

  }

  .socialMedia {
    display: flex;
    gap: 10px;
    flex-shrink: 0;
    filter: grayscale(1);
    position: fixed;
    z-index: 2;
    top: 6%;
    left: 70%;
    transition: 0.3s;
    visibility: hidden;
  }

  .navbarLinks {
    visibility: hidden;
  }

  #SPOTIFYiframe {
    width: 99%;
    margin: 0% 0% 2% 0%;
  }

  .mitämissäkoskaparagraph {
    padding-top: 0px;
  }

  .gigH1box {
    width: 90%;
  }

  #touringDetails {
    padding-top: 15px;
    height: 15vh;
  }


  #h1 {
    font-size: 1.3em;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: black;
    color: gray;
  }

  #dropdownMenu {
    margin: 4% 0% 5% 3%;
    height: 6%;
    width: 6%;
  }


  #background {
    background-image: url("./assets/testikuva.jpg");
    background-position: top;
    background-size: cover;
    object-fit: cover;
    width: 100%;

  }

  #anyverseDropDownMenu {
    width: 150px;
    height: 150px;
  }

  #aleksiHalminen {
    width: 150px;
    height: 150px;
  }


  #ramiTammela {
    width: 150px;
    height: 150px;
  }

  #samiAlatalo {
    width: 150px;
    height: 150px;
  }

  #meetTheCrew {
    color: white;
    position: absolute;
    left: 20%;
    width: 60%;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
    background-color: black;
    margin-top: 100px;
    border: 0px solid white;
    letter-spacing: 2px;
    font-size: 4vw;
  }


  .testi666 {
    display: flex;
    flex-direction: column;
  }

  .bandMemberCard {
    width: 30%;
    height: 45%;
    box-shadow: 0px 0px 2px rgb(87, 87, 87);

    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.2s;
    background-image: url("./assets/tausta.jpg");
    background-position: right;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    object-fit: cover;
    flex: 1;
    flex-wrap: wrap;
  }

  .testi666 h1 {
    font-size: 2.4vw;
  }

  .testi666 p {
    font-size: 2vw;
  }

  .dropdownMenu_valikko h1 {
    font-size: 0.8em;
    font-weight: 100;
    font-family: sans-serif;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 5%;
  }

  .adminNavBar {
    width: 100%;

  }

  .newGigForm {
    padding: 20px;
    display: flex;
    width: 95%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .newGigForm h1 {
    font-size: 3em;
  }

  .poistaKeikka h1 {
    font-size: 1.5em;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 20px;
  }

  .uusiButton button {
    width: 100%;
    height: 5vh;

  }

  .adminPanelLogo button {
    width: 100%;
    height: 5vh;
  }

  #logo1 {
    width: 100px;
    filter: drop-shadow(0px 0px 10px purple);
  }

  .adminLegacy {
    display: flex;
    flex-direction: column;
  }

  .poistaKeikka {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-self: flex-start;
    width: 100%;
  }

  #adminSivuH1 {
    position: fixed;
    bottom: 0;
  }

  .adminNavBar {
    border: 0px solid white;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    padding: 25px;
    border-right: 0px gray solid;
    box-shadow: 0px 0px 10px rgb(225, 0, 255);
  }

  .adminPanelLogo {
    display: flex;
    flex-direction: row;

  }

  .adminPanelLogo button {
    width: 100px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    background: linear-gradient(to bottom right, #ca0467, #4f40db);
    border-radius: 20px;
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 10px #ca0467, 0 0 10px #4f40db;
    border: 0px;
    transition: 0.12s;
    cursor: pointer;
    font-size: 0.8em;
  }

  .poistaKeikka h1 {
    padding: 10px;
    margin: 1%;

  }


  .aleksi {
    box-shadow: 0px 0px 30px rgb(223, 108, 0);
  }

  .rami {
    box-shadow: 0px 0px 30px red;
  }

  .sami {
    box-shadow: 0px 0px 30px rgb(255, 1, 213);
  }


}

@media (min-width: 425px) and (max-width: 767px) {
  #logo {
    visibility: hidden;
  }

  .socialMedia {
    visibility: hidden;
  }

  .navbarLinks {
    visibility: hidden;
  }

  .navbar {
    height: 10vh;
  }

  #dropdownMenu {
    margin: 6% 0% 5% 3%;
    height: 3%;
    width: 7%;
  }


  .gigH1box {
    width: 98%;
    padding-top: 0px;
    height: 85vh;
    margin-top: 10%;
  }

  #SPOTIFYiframe {
    width: 100%;
    height: 10vh;
    margin: 0;
    padding-right: 2%;
    margin-bottom: 19%;
    border-radius: 0;
  }


  #h1 {
    font-size: 1em;
  }

  .dropdownMenu_valikko {
    position: fixed;
    top: 10%;
  }


  #touringDetails {
    padding: 0px;
    height: 20vh;
    padding-top: 5%;
    margin-bottom: 0%;

  }

  .gigH1box {
    margin-bottom: 5%;
  }

  .touringDetailsRightSide {
    font-size: 0.8em;
    width: 30%;
    border: 0px solid white;
    padding: 5px;
  }

  #h1 {
    font-size: 1.3em;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(0, 0, 0, 0.95);
    color: gray;
  }


  #background {
    background-image: url("./assets/testikuva.jpg");
    background-position: top;
    background-size: cover;
    object-fit: cover;
    clip-path: none;
    width: 100%;

  }

  .bandMemberCard {

    width: 100%;
    height: 40%;
    box-shadow: 0px 0px 2px rgb(87, 87, 87);
    display: flex;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.2s;
    background-image: url("./assets/tausta.jpg");
    background-position: right;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    object-fit: cover;
    flex: 1;
    flex-wrap: wrap;
  }

  #bandMembersFrame {
    background-image: url("./assets/barracks.jpg");
    background-position: top;
    background-size: cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;
  }

  .testi666 {
    display: flex;
    flex-direction: row;

  }

  .testi666 h1 {
    font-size: 4.5vw;
  }

  .testi666 p {
    font-size: 4vw;
  }

  #aleksiHalminen {
    width: 27vw;
    height: 170%;

  }


  #ramiTammela {
    width: 28vw;
    height: 170%;

  }

  #samiAlatalo {
    width: 28vw;
    height: 200%;

  }

  #meetTheCrew {
    color: white;
    position: absolute;
    left: 20%;
    margin-top: 1%;
    width: 60%;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
    background-color: black;

    border: 0px solid white;
    letter-spacing: 2px;
    font-size: 2vw;
  }

  .dropdownMenu_valikko h1 {
    font-size: 0.8em;
    font-weight: 100;
    font-family: sans-serif;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 5%;
  }

  .adminNavBar {
    width: 100%;

  }

  .newGigForm {
    padding: 30px;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .newGigForm h1 {
    font-size: 3em;
  }

  .poistaKeikka h1 {
    font-size: 1.5em;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 20px;
  }

  .uusiButton button {
    width: 100%;
    height: 5vh;

  }

  .adminPanelLogo button {
    width: 100%;
    height: 5vh;
  }

  #logo1 {
    width: 100px;
    filter: drop-shadow(0px 0px 10px purple);
  }

  .adminLegacy {
    display: flex;
    flex-direction: column;
  }

  .poistaKeikka {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-self: flex-start;
    width: 100%;
  }

  #adminSivuH1 {
    position: fixed;
    bottom: 0;
  }

  .adminNavBar {
    border: 0px solid white;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    padding: 50px;
    border-right: 0px gray solid;
    box-shadow: 0px 0px 10px rgb(225, 0, 255);
  }

  .adminPanelLogo {
    display: flex;
    flex-direction: row;

  }

  .adminPanelLogo button {
    width: 120px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    background: linear-gradient(to bottom right, #ca0467, #4f40db);
    border-radius: 20px;
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 10px #ca0467, 0 0 10px #4f40db;
    border: 0px;
    transition: 0.12s;
    cursor: pointer;
  }

  .poistaKeikka h1 {
    padding: 10px;
    margin: 1%;

  }

  .aleksi {
    box-shadow: 0px 0px 30px rgb(223, 108, 0);
  }

  .rami {
    box-shadow: 0px 0px 30px red;
  }

  .sami {
    box-shadow: 0px 0px 30px rgb(255, 1, 213);
  }

  #aleksiHalminen {
    width: 30vw;
    height: 100%;

  }


  #ramiTammela {
    width: 30vw;
    height: 100%;
  }

  #samiAlatalo {
    width: 30vw;
    height: 100%;
  }

  .testi666 {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  #anyverseDropDownMenu {
    width: 150px;
    height: 150px;
  }

}

@media (min-width: 375px) and (max-width: 424px) {

  html {
    width: 100%;
  }


  #h1 {
    font-size: 1.2em;
    width: 100%;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    color: gray;
  }


  #background {
    background-image: url("./assets/testikuva.jpg");
    background-position: top;
    background-size: cover;
    object-fit: cover;
    clip-path: none;
    width: 100%;

  }


  #SPOTIFYiframe {
    width: 100%;
    height: 10vh;
    margin: 0;
    padding-right: 2%;
    margin-bottom: 19%;
    border-radius: 0;
  }

  #logo {
    visibility: hidden;
  }

  .socialMedia {
    visibility: hidden;
  }

  .navbarLinks {
    visibility: hidden;
  }

  .navbar {
    height: 10vh;
  }

  .dropdownMenu_valikko {
    position: fixed;
    top: 10%;
  }

  .gigH1box {
    width: 98%;
    padding-top: 0px;
    height: 85vh;
    margin-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .touringDetailsRightSide {
    font-size: 0.8em;
    width: 30%;
    border: 0px solid white;
    padding: 5px;
  }

  #touringDetails {
    height: 17vh;
    font-size: 1.4em;
    width: 95%;
  }

  #dropdownMenu {
    margin: 5% 0% 5% 3%;
    height: 5%;
    width: 10%;
  }


  #h1 {
    font-size: 1.3em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(0, 0, 0, 0.95);
    color: gray;
  }


  #background {
    background-image: url("./assets/testikuva.jpg");
    background-position: top;
    background-size: cover;
    object-fit: cover;
    clip-path: none;
    width: 100%;

  }

  .bandMemberCard {

    width: 110%;
    height: 40%;
    box-shadow: 0px 0px 2px rgb(87, 87, 87);
    display: flex;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.2s;
    background-image: url("./assets/tausta.jpg");
    background-position: right;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    object-fit: cover;
    flex: 1;
    flex-wrap: wrap;
  }

  #bandMembersFrame {
    background-image: url("./assets/barracks.jpg");
    background-position: top;
    background-size: cover;
    object-fit: fill;
    display: flex;
    flex-direction: column;
  }

  .testi666 {
    display: flex;
    flex-direction: row;

  }

  .testi666 h1 {
    font-size: 4.5vw;
  }

  .testi666 p {
    font-size: 4vw;
  }

  #aleksiHalminen {
    width: 24vw;
    height: 170%;

  }


  #ramiTammela {
    width: 25vw;
    height: 180%;

  }

  #samiAlatalo {
    width: 27vw;
    height: 180%;

  }

  #meetTheCrew {
    color: white;
    position: absolute;
    left: 20%;
    margin-top: 1%;
    width: 60%;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
    background-color: black;

    border: 0px solid white;
    letter-spacing: 2px;
    font-size: 2vw;
  }

  .dropdownMenu_valikko h1 {
    font-size: 0.8em;
    font-weight: 100;
    font-family: sans-serif;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 5%;
  }

  .adminNavBar {
    width: 100%;

  }

  .newGigForm {
    padding: 30px;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .newGigForm h1 {
    font-size: 3em;
  }

  .poistaKeikka h1 {
    font-size: 1.5em;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 20px;
  }

  .uusiButton button {
    width: 100%;
    height: 5vh;

  }

  .adminPanelLogo button {
    width: 100%;
    height: 5vh;
  }

  #logo1 {
    width: 100px;
    filter: drop-shadow(0px 0px 10px purple);
  }

  .adminLegacy {
    display: flex;
    flex-direction: column;
  }

  .poistaKeikka {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-self: flex-start;
    width: 100%;
  }

  #adminSivuH1 {
    position: fixed;
    bottom: 0;
  }

  .adminNavBar {
    border: 0px solid white;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    padding: 50px;
    border-right: 0px gray solid;
    box-shadow: 0px 0px 10px rgb(225, 0, 255);
  }

  .adminPanelLogo {
    display: flex;
    flex-direction: row;

  }

  .adminPanelLogo button {
    width: 120px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    background: linear-gradient(to bottom right, #ca0467, #4f40db);
    border-radius: 20px;
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 10px #ca0467, 0 0 10px #4f40db;
    border: 0px;
    transition: 0.12s;
    cursor: pointer;
  }

  .poistaKeikka h1 {
    padding: 10px;
    margin: 1%;

  }

  .aleksi {
    box-shadow: 0px 0px 30px rgb(223, 108, 0);
  }

  .rami {
    box-shadow: 0px 0px 30px red;
  }

  .sami {
    box-shadow: 0px 0px 30px rgb(255, 1, 213);
  }

  #aleksiHalminen {
    width: 30vw;
    height: 100%;

  }


  #ramiTammela {
    width: 30vw;
    height: 100%;
  }

  #samiAlatalo {
    width: 30vw;
    height: 100%;
  }

  .testi666 {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  #anyverseDropDownMenu {
    width: 150px;
    height: 150px;
  }





}

@media (min-width: 320px) and (max-width: 374px) {
  html {
    width: 100%;
  }


  #h1 {
    font-size: 2.3vh;
    width: 90%;

    background-color: rgba(0, 0, 0, 0.95);
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    color: gray;
  }


  #background {
    background-image: url("./assets/testikuva.jpg");
    background-position: top;
    background-size: cover;
    object-fit: cover;
    clip-path: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


  }


  #SPOTIFYiframe {
    width: 100%;
    height: 10vh;
    margin: 0;
    padding-right: 2%;
    margin-bottom: 80px;
    border-radius: 0;
  }

  #logo {
    visibility: hidden;
  }

  .socialMedia {
    visibility: hidden;
  }

  .navbarLinks {
    visibility: hidden;
  }

  .navbar {
    height: 10vh;
  }

  .dropdownMenu_valikko {
    position: fixed;
    top: 10%;
  }

  .gigH1box {
    width: 98%;
    padding-top: 0px;
    height: 85vh;
    margin-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .touringDetailsRightSide {
    font-size: 0.8em;
    width: 30%;
    border: 0px solid white;
    padding: 5px;
  }

  #touringDetails {
    height: 18vh;
    font-size: 1.3em;
    width: 95%;
  }


  .dropdownMenu_valikko h1 {
    font-size: 0.8em;
    font-weight: 100;
    font-family: sans-serif;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 5%;

  }

  #anyverseDropDownMenu {
    width: 150px;
    height: 150px;
  }

  #dropdownSocialIcons {
    gap: 5px;
  }

  #dropdownMenu {

    height: 3%;
    width: 10%;
  }

  #dropdownMenu {
    margin: 8% 0% 5% 3%;
  }



  #background {
    background-image: url("./assets/testikuva.jpg");
    background-position: top;
    background-size: cover;
    object-fit: cover;
    clip-path: none;
    width: 100%;

  }

  .bandMemberCard {

    width: 130%;
    height: 40%;
    box-shadow: 0px 0px 2px rgb(87, 87, 87);
    display: flex;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.2s;
    background-image: url("./assets/tausta.jpg");
    background-position: right;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    object-fit: cover;
    flex: 1;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
  }

  #bandMembersFrame {
    background-image: url("./assets/barracks.jpg");
    background-position: top;
    background-size: cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;


  }

  .testi666 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .testi666 h1 {
    font-size: 4.5vw;
  }

  .testi666 p {
    font-size: 4vw;
  }



  #meetTheCrew {
    color: white;
    position: absolute;
    left: 20%;
    margin-top: 1%;
    width: 60%;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
    background-color: black;

    border: 0px solid white;
    letter-spacing: 2px;
    font-size: 3.6vw;
  }

  .adminNavBar {
    width: 100%;

  }

  .newGigForm {
    padding: 30px;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .newGigForm h1 {
    font-size: 10vw;
  }

  .poistaKeikka h1 {
    font-size: 1.5em;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 20px;
  }

  .uusiButton button {
    width: 100%;
    height: 5vh;

  }

  .adminPanelLogo button {
    width: 100%;
    height: 5vh;
  }

  #logo1 {
    width: 100px;
    filter: drop-shadow(0px 0px 10px purple);
  }

  .adminLegacy {
    display: flex;
    flex-direction: column;
  }

  .poistaKeikka {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-self: flex-start;
    width: 100%;
  }

  #adminSivuH1 {
    position: fixed;
    bottom: 0;
  }

  .adminNavBar {
    border: 0px solid white;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    padding: 25px;
    border-right: 0px gray solid;
    box-shadow: 0px 0px 0px rgb(225, 0, 255);
  }

  .adminPanelLogo {
    display: flex;
    flex-direction: row;

  }

  .adminPanelLogo button {
    width: 100px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    background: linear-gradient(to bottom right, #ca0467, #4f40db);
    border-radius: 20px;
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 10px #ca0467, 0 0 10px #4f40db;
    border: 0px;
    transition: 0.12s;
    cursor: pointer;
    font-size: 0.8em;
  }

  .poistaKeikka h1 {
    padding: 10px;
    margin: 1%;

  }


  .aleksi {
    box-shadow: 0px 0px 30px rgb(223, 108, 0);
  }

  .rami {
    box-shadow: 0px 0px 30px red;
  }

  .sami {
    box-shadow: 0px 0px 30px rgb(255, 1, 213);
  }

  #aleksiHalminen {
    width: 40vw;
    height: 100%;

  }


  #ramiTammela {
    width: 40vw;
    height: 100%;
  }

  #samiAlatalo {
    width: 40vw;
    height: 100%;
  }

  .testi666 {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }

  .testi666 h1 {
    font-size: 8vw;
    margin-right: 10%;
  }

  .testi666 p {
    font-size: 5vw;
    margin-right: 10%;
  }



}